
  ul {
    list-style-type: none;
    margin: 3;
    padding: 2;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
   
  }
  
  .pk{
    display: inline-block;
    color: white;
    text-align: center;
    padding:10px 50px;
    text-decoration: none;
  }
.srech{
   margin: 5px;
   width: 200px;
   height: 30px;
}
.button{
    border-radius: 5px;
    width: 70px;
    height: 35px;
   color: white;
   background-color:#333 ;
   cursor: progress;
}